
<div class="form-container">
  <mat-card>
    <mat-card-title>Step {{ currentStep }}</mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="currentStep === 1">

        <form [formGroup]="step1Form" (ngSubmit)="nextStep()">

          <!-- Email Input -->
          <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="step1Form.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="step1Form.get('email')?.invalid">
              Enter a valid email
            </mat-error>
          </mat-form-field>

          <!-- Password Input -->
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="step1Form.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="step1Form.get('password')?.hasError('pattern')">
              Password must contain at least one letter and one number
            </mat-error>
          </mat-form-field>

          <!-- Confirm Password Input -->
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
          <mat-error *ngIf="step1Form.get('confirmPassword')?.hasError('required') && step1Form.controls['confirmPassword'].touched">
            Confirm Password is required
          </mat-error>

          <mat-error *ngIf="showError && step1Form.controls['confirmPassword'].touched">
            Passwords do not match.
          </mat-error>

          <!-- Terms and Conditions Checkbox -->
          <mat-checkbox formControlName="agreeToTerms">Agree to work for food</mat-checkbox>
          <mat-error *ngIf="step1Form.get('agreeToTerms')?.hasError('required')">
            You must agree to work for food
          </mat-error>

          <button mat-raised-button color="primary" type="submit" [disabled]="!step1Form.valid">Go to step 2</button>
        </form>
      </ng-container>
      <ng-container *ngIf="currentStep === 2">
        <form [formGroup]="step2Form" (ngSubmit)="submitRegistration()">
          <mat-form-field>

            <mat-label>Country</mat-label>
            <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)">
              <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="provinces.length > 0">
            <mat-label>Province</mat-label>
            <mat-select formControlName="province">
              <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!step2Form.valid">Save</button>
        </form>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
